* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

#board {
    width: 300px;
    height: 300px;
    border: 20px transparent;
}

#board td {
    border: 2px solid #999;
    background-color: #FFF;
    width: 24%;
    height: 24%;
    transition: background-color 1s;
}
#board .green {
    background-color: #5F5;
}

#board .blue {
    background-color: #55F;
}

#board .gray {
    background-color: #999;
}

#board td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

#options {
    width: 800px;
    height: 100px;
}

#options td {
    background-color: #FFF;
    border-radius: 10%;
    transition: background-color 0.25s;

}

#options td:hover {
    background-color: #BBB;
}

#options td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: absolute;
    text-align: center;
    width: 200px;
    margin-left: -100px;
    font-size: 12px;
    bottom: 10px;
    left: 50%;
}