* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

#board {
    width: 300px;
    height: 300px;
}

#board td {
    border: 2px solid #999;
    background-color: #FFF;
    margin: 50px;
}

#options {
    width: 800px;
    height: 100px;
}

#options td {
    
}